*{
  margin: 0;
  padding: 0;
}

body{
  background-color:  hsl(185, 75%, 39%);
  font-size: 18px;
  font-family: "Kumbh Sans";
}

p{
  color:  hsl(0, 0%, 59%);
  font-weight: 400;
  font-size: 0.8rem;
  margin-top: 5px;
  margin-bottom: 0px
}

.container-fluid{
  align-items: center;
  width: 100%;
}

.background-top {
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(5%, 5%);
}

.background-bottom {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-5%, -5%);
}

.card{
  text-align: center;
  background-color: white;
  color: hsl(229, 23%, 23%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 25%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-img-top {
  border-radius: 15px 15px 0 0;
  width: 100%;
}


.img-circular {
  width: 25%;
  border: 4px solid #fff;
  position: relative;
  bottom: 35px;
  border-radius: 50%;
}

.username {
  display: flex;
  justify-content: center;

}

.name {
  margin-top: 0px;
  margin-right: 10px;
}

.age{
  font-size: 1.2rem;
  margin-top: auto;
}

.city {
  margin-top: 10px;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;

}

li{
  padding: 8px;
  margin: auto 10px;
}

@media (max-width: 876px) {
  .card {
    width: 55%;
  }
}

@media (max-width: 376px) {
  .card {
    width: 85%;
  }
}
